[submodule "core-modules/self"]
	path = core_modules/self
	url = git@github.com:BrandonRomano/ash-self.git
[submodule "core_modules/logger"]
	path = core_modules/logger
	url = https://github.com/BrandonRomano/ash-logger
[submodule "core_modules/yaml-parse"]
	path = core_modules/yaml-parse
	url = git@github.com:BrandonRomano/ash-yaml-parse.git
[submodule "core_modules/slugify"]
	path = core_modules/slugify
	url = git@github.com:BrandonRomano/ash-slugify.git
